body { font-family: Verdana, Tahoma, Helvetica, Arial; }
a { text-decoration: none; }
a:link { color: grey; }
a:visited { color: grey; }
a:hover {
    color: blue;
    text-decoration: underline;
}

.items {
    font-size: 15px;
}

.info {
    font-size: 14px;
}

.info a:link {
    color: blue;
}
.info a:visited {
    color: blue;
}
.info a:hover {
    text-decoration: underline;
}

.sidebar {
    font-size: 13px;
    color: grey;
}