{% include 'header.html' %}
<tr valign='top'>
	<td>
		<!-- start info-->
		<table class='info' width='100%' cellpadding='2' cellspacing='5'>

		{% load result_verify %}
		{% for key, value in results %}
  		<tr>
			<td valign='top' width='215'>
				<b>{{ key }}</b>
			</td> 

		<td>
			{% if value %}
	   	<!-- hard coded iter items -->
	   	{% if key in 'targets|releases|tags|tasks|groups|users|build_handlers|archs|branches|files|logs|sources|builds|comments' or key == 'configs' %}
	      	{% for v in value %}
		  			{{ v|result_verify:key|safe }}<br>
	      	{% endfor %}

	   	<!-- single value objects -->
			{% else %}
	       	{{ value|result_verify:key|safe }}
	   	{% endif %}
			{% endif %}
 		</td>
 	</tr>
 	{% endfor %}
	</table>
</td>
{% include 'footer.html' %}
